header {
  color: #f097b6;
  background-color: #fff;
  padding: 10px;
}
@media (width < 768px) {
  header .row {
    flex-direction: column;
    text-align: center;
  }
}
header img {
  width: 100px;
  margin-bottom: 10px;
}
header nav {
  display: flex;
  justify-content: space-between;
  background-color: #f097b6;
  padding: 10px 5px;
}
@media (width < 768px) {
  header nav {
    flex-direction: column;
    text-align: center;
  }
}
header nav a {
  text-decoration: none;
}
header nav a:hover {
  font-weight: bold;
  background-color: #fff;
  color: #ee5e8e;
}

aside .facebook {
  display: flex;
  align-items: center;
  margin-bottom: 2px;
  background-color: #5ef3d3;
}
aside .linkedin {
  display: flex;
  align-items: center;
  margin-bottom: 2px;
  background-color: #e9e3d7;
}
aside .instagram {
  display: flex;
  align-items: center;
  margin-bottom: 2px;
  background-color: #f17cd4;
}
aside .youtube {
  display: flex;
  align-items: center;
  margin-bottom: 2px;
  background-color: #46a7c5;
}
aside .pinterest {
  display: flex;
  align-items: center;
  margin-bottom: 2px;
  background-color: #ebca5e;
}
aside .twitter {
  display: flex;
  align-items: center;
  margin-bottom: 2px;
  background-color: #63d4f0;
}
aside img {
  width: 60px;
  margin: 15px;
}
aside p {
  margin-bottom: 3px;
}
aside p.strong {
  font-weight: bold;
}

footer {
  color: #fff;
  background-color: #000;
  display: flex;
  justify-content: space-between;
}
@media (width < 768px) {
  footer {
    flex-direction: column;
    text-align: center;
  }
}
footer a {
  color: #fff;
  text-decoration: none;
}
footer p {
  margin: 5px 0;
}

main section {
  /*paleta*/
}
main section .item {
  display: flex;
  justify-content: space-between;
}
main section .springgreen::before {
  content: "";
  display: block;
  height: 100px;
  background-color: #00ff7f;
}
main section .darkorchid::before {
  content: "";
  display: block;
  height: 100px;
  background-color: #9932cc;
}
main section .darkslategray::before {
  content: "";
  display: block;
  height: 100px;
  background-color: #2f4f4f;
}
main section .dodgerblue::before {
  content: "";
  display: block;
  height: 100px;
  background-color: #1e90ff;
}
main section .strong {
  font-weight: bold;
}
main section .t1a {
  background-color: rgb(235, 25, 172);
}
main section .t2a {
  background-color: rgb(236, 180, 59);
}
main section .t3a {
  background-color: rgb(13, 127, 204);
}
main section .t1b {
  background-color: rgb(235, 25, 172);
}
main section .t2b {
  background-color: rgb(236, 180, 59);
}
main section .t3b {
  background-color: rgb(13, 127, 204);
}
main section .t1c {
  background-color: rgb(235, 25, 172);
}
main section .t2c {
  background-color: rgb(236, 180, 59);
}
main section .t3c {
  background-color: rgb(13, 127, 204);
}
main section .t1d {
  background-color: rgb(235, 25, 172);
}
main section .t2d {
  background-color: rgb(236, 180, 59);
}
main section .t3d {
  background-color: rgb(13, 127, 204);
}
main section .row-center {
  margin: auto;
  height: 100px;
}

main section .t1 {
  background-color: #00ff7f;
}
main section .t2 {
  background-color: #9932cc;
}
main section .t3 {
  background-color: #2f4f4f;
}
main section .t4 {
  background-color: #1e90ff;
}
main section .t1light {
  background-color: #66ffb2;
}
main section .t1dark {
  background-color: #00994c;
}
main section .t2light {
  background-color: #c283e1;
}
main section .t2dark {
  background-color: #5c1e7a;
}
main section .t3light {
  background-color: #558f8f;
}
main section .t3dark {
  background-color: #090f0f;
}
main section .t4light {
  background-color: #84c2ff;
}
main section .t4dark {
  background-color: #005db7;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial;
}

.container {
  max-width: 1200px;
  height: 100%;
  margin-top: 5px;
}

/*# sourceMappingURL=app.css.map */
