//header
@mixin flex_nav {
    display: flex;
    justify-content: space-between;
}

@mixin media-responsive {
    @media (width <768px) {
        flex-direction: column;
        text-align: center;
    }
}

@mixin img-adj {
    width: 50px;
    margin-right: 10px;
}

//container
@mixin flex-aside {
    display: flex;
    align-items: center;
}

//paletacolores
@mixin item {
    display: flex;
    justify-content: space-between;
    height: 50px;
    max-width: 100%;
}

@mixin logo-sass {
    width: 100px;
    margin-bottom: 10px;
}