@use '../base/variables' as v;

//header
@mixin flex_nav {
    display: flex;
    justify-content: space-between;
}

@mixin media-responsive {
    @media (width <768px) {
        flex-direction: column;
        text-align: center;
    }
}
//container
@mixin img-rrss {
    width: 60px;
    margin : 15px;
}
@mixin flex-aside ($color){
    display: flex;
    align-items: center;
    margin-bottom: 2px;
    background-color: $color;
}
@mixin colors-rrss($color){
    @if $color == 'facebook'{
        @include flex-aside(v.$facebook);
    }@else if $color == 'twitter'{
        @include flex-aside(v.$twitter);
    }@else if $color == 'instagram'{
        @include flex-aside(v.$instagram);
    }@else if $color == 'pinterest'{
        @include flex-aside(v.$pinterest);
    }@else if $color == 'linkedin'{
        @include flex-aside(v.$linkedin);
    }@else if $color == 'youtube'{
        @include flex-aside(v.$youtube);
    }
}



//paletacolores
@mixin item {
    display: flex;
    justify-content: space-between;
    height: 50px;
    max-width: 100%;
}

@mixin logo-sass {
    width: 100px;
    margin-bottom: 10px;
}

//rrss

