@mixin flex_nav{
    display: flex;
    justify-content: space-between;
}

@mixin media-responsive{
    @media (width <768px) {
        flex-direction: column;
        text-align: center;
    }
}

@mixin img-adj{
    width: 50px;
    margin-right: 10px;
}

@mixin flex-aside{
    display: flex;
    align-items:center;

}