$colorLetras : #f097b6;
$colorLogo : #ee5e8e;
$colorBlanco : #fff;
$colorNegro : #000;

$facebook : #5ef3d3;
$twitter : #63d4f0;
$instagran : #f17cd4;
$pinterest : #ebca5e;
$linkedin : #e9e3d7;
$youtube : #46a7c5;


$darkslatgray : #2f4f4f;
$dodgerblue : #1e90ff;
$darkorchid : #9932cc;
$springgreen : #00ff7f;