@use '../base/variables' as v;
@use '../base/mixin' as m;

footer {
    @include m.flex-footer;
    @include m.media-responsive;

    a {
        color: v.$colorBlanco;
        text-decoration: none;
    }

    p {
        margin: 5px 0;
    }
}