@use '../base/variables' as v;
@use '../base/mixin' as m;

footer {
    color: v.$colorBlanco;
    background-color: v.$colorNegro;
    @include m.flex-nav;
    @include m.media-responsive;
    a {
        color: v.$colorBlanco;
        text-decoration: none;
    }
    p {
        margin: 5px 0;
    }
}