@use '../base/variables' as v;
@use '../base/mixin' as m;

header {
    color: v.$colorLetras;
    background-color: v.$colorBlanco;
    padding: 10px;
    .row{
        @include m.media-responsive;
    }
    
    img {
        @include m.logo-sass;
    }

    nav {
        @include m.flex-nav;
        @extend .row;
        padding: 10px 5px;
        a {
            text-decoration: none;
        &:hover{
                font-weight: bold;
                background-color: v.$colorBlanco;
                color : v.$colorLogo;
            }
        }
    }
}