@use '../base/variables' as v;
@use '../base/mixin' as m;


main {

    section {

        .item {
            @include m.item;
        }

        .springgreen::before {
            content: '';
            display: block;
            height: 100px;
            background-color: v.$springgreen;
        }

        .darkorchid::before {
            content: '';
            display: block;
            height: 100px;
            background-color: v.$darkorchid;
        }

        .darkslategray::before {
            content: '';
            display: block;
            height: 100px;
            background-color: v.$darkslatgray;
        }

        .dodgerblue::before {
            content: '';
            display: block;
            height: 100px;
            background-color: v.$dodgerblue;
        }

        .strong {
            font-weight: bold;
        }


        /*paleta*/
        .t1a {
            background-color: rgb(235, 25, 172);
        }

        .t2a {
            background-color: rgb(236, 180, 59);
        }

        .t3a {
            background-color: rgb(13, 127, 204);
        }

        .t1b {
            background-color: rgb(235, 25, 172);
        }

        .t2b {
            background-color: rgb(236, 180, 59);
        }

        .t3b {
            background-color: rgb(13, 127, 204);
        }

        .t1c {
            background-color: rgb(235, 25, 172);
        }

        .t2c {
            background-color: rgb(236, 180, 59);
        }

        .t3c {
            background-color: rgb(13, 127, 204);
        }

        .t1d {
            background-color: rgb(235, 25, 172);
        }

        .t2d {
            background-color: rgb(236, 180, 59);
        }

        .t3d {
            background-color: rgb(13, 127, 204);
        }

        .row-center {
            margin: auto;
            height: 100px;
        }
    }
}