@use '../base/variables' as v;
@use '../base/mixin' as m;


main {

    section {

        .item {
            @include m.item;
        }

        .springgreen::before {
            content: '';
            display: block;
            height: 100px;
            background-color: v.$springgreen;
        }

        .darkorchid::before {
            content: '';
            display: block;
            height: 100px;
            background-color: v.$darkorchid;
        }

        .darkslategray::before {
            content: '';
            display: block;
            height: 100px;
            background-color: v.$darkslatgray;
        }

        .dodgerblue::before {
            content: '';
            display: block;
            height: 100px;
            background-color: v.$dodgerblue;
        }

        .strong {
            font-weight: bold;
        }
    }
}