@use '../base/variables' as v;
@use '../base/mixin' as m;


main{

    .item {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        height: 30px;
        margin-bottom: 10px;
    }

    .item-color{
        @include m.item-color;
    }

    .springgren{
       background-color: v.$springgreen;
    }

    .darkorchid{
        background-color: v.$darkorchid;
    }

    .darkslategray{
        background-color: v.$darkslatgray;    
    }

    .dodgerblue{
        background-color: v.$dodgerblue;
    }



   
    
}
